
.unitView div {
    display: table;
    border-spacing: 4px 0;
}

.unitView span {
    display: table-cell;
    vertical-align: middle;
    horiz-align: center;
    margin-left: 4px;
}

.unitView img {
    display: table-cell;
    vertical-align: middle;
}

h3 {
    margin: 4px 0 4px 0;
    text-decoration: underline;
    text-align: left;
}
