.mapboxgl-popup-content {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.mapboxgl-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.75) !important;
    border-bottom-color:  rgba(255, 255, 255, 0.75) !important;
}