
canvas {
    cursor: default !important;
}

h3 {
    text-shadow:
            -1px -1px 0 rgba(255, 255, 255, 0.75),
            1px -1px 0 rgba(255, 255, 255, 0.75),
            -1px  1px 0 rgba(255, 255, 255, 0.75),
            1px  1px 0 rgba(255, 255, 255, 0.75);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}